body {
    background: black;
}
#container {
    position: absolute;
    width: 800px;
    transform: translate(-50%, 50%);
    left: 50%;
    font-size: 25px;
}
#canvas1 {
    position: absolute;
    width: 800px;
    height: 700px;
    top: 100%;
}
#slider {
    width: 100%;
}
p {
    color: white;
}
